/* Nav Styling */
.navbar-brand {
  color: white !important;
  font-weight: 500;
  font-size: 3rem;
}

.navbar-brand > span {
  font-size: 3rem;
  padding-right: 0.4rem;
  font-weight: 500;
}

.nav-link {
  font-size: 2rem;
}

.extext {
  font-family: "Tangerine";
}

.nav-link {
  color: white !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #6a5acd !important;
}

.nav-link.active {
  color: #6a5acd !important;
  font-weight: 500;
}

/* Main body styling */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to right, #3a4d76, #6b5b95, #c288b6, #f5b1ab);
  background-attachment: fixed;
  font-family: "Lato", sans-serif;
}

/* Hero styling */
.hero {
  background-image: url("../images/hero_background.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 40vh;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.hero h1, #about h1, #quotes h1, #resources h1, #contact h1  {
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.hero p {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.hero .btn {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  width: 11rem;
  margin-bottom: 1rem;
}

.hero .btn:hover {
  color: #6a5acd;
}

.linebr {
  border-bottom: solid white 0.1rem;
  max-width: 95rem;
}

/* Card */
.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border: none;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  color: white;
}

/* Card Images */
.card > img {
  height: 30rem;
  object-fit: cover;
  object-position: center;
}

/* Card Content */
.card-title {
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.card-text {
  margin-bottom: 1rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.accordion {
  margin-top: auto;
}

.accordion-button {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.accordion-button:hover {
  color: #6a5acd;
}



.accordion-body {
  min-height: 10rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* Carousel Styling */

.carousel-inner {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1.2rem;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* Resources Styling */

.card-r {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.title-c {
  color: white;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  
}

.text-c {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


.title-e {
  padding-bottom: 0.5rem;
}

/* Contact Section */

.get-container {
  min-height: 490px;
}

.get-title {
  color: white;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.get-container label {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* Match form height with map height */
form .btn {
margin-top: 17.609px;
color: white;
font-size: 1.2rem;
font-weight: 500;
}

form .btn:hover {
color:#6a5acd;
background-color: #1f1f1f;
}

/* Open times styling */

th {
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  padding-right:2rem;
  padding-left: 2rem;
}

td {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  padding-top: 1rem;
  padding-right:1rem;
  padding-left: 1rem;
}

/* Footer */
footer p {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  margin-bottom: 0;
}

.message {
  font-style: italic;
} 

.message, footer nav {
  padding-bottom: 1rem;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  transition: color 0.3s ease;
  padding-inline: 1rem;
}

footer i {
  color: white;
  font-size: 2.5rem;
  padding-inline: 1rem;
}

footer i:hover {
  color:#6a5acd;
}


footer a:hover {
  color: #6a5acd !important;
}

footer a.active {
  color: #6a5acd !important;
  font-weight: 500;
}

/* Add hover effect for hero, cards & resources */

.hero:hover, .card:hover , .card-r:hover, .get-container:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

}


/* Card media queries to assure consistency across resolutions (Cards) */

@media (min-width: 1000px) {
  .card {
    min-height: 46rem;
  }
}

@media (min-width: 1200px) and (max-width: 1302px) {
  .card {
    min-height: 52rem;
  }
}

@media (min-width: 1303px) {
  .card {
    min-height: 50rem;
  }
}

@media (min-width: 1772px) {
  .card {
    min-height: 46rem;
  }
}

/* Card media queries to assure consistency across resolutions (Resources) */

@media (min-width: 1200px) and (max-width: 1667px) {
  .title-e {
    padding-bottom: 2.625rem;
  }
}

@media (min-width: 1200px) and (max-width:1731px) {
  .card-r {
    min-height: 40rem;
  }
}

@media (min-width: 2054px) {
  .card-r {
    min-height: 34rem;
  }
}